[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
h2 = "*"

[dev-packages]
peewee = "*"
mako = "*"
pytest = "*"
pytest-asyncio = "*"
daphne = "*"
httpx = {extras = ["http2"], version = "*"}
flake8 = "*"
twisted = {extras = ["http2", "tls"], version = "*"}

[requires]
python_version = "3.8"
