<html>

<head>
    <style type="text/css"></style>
</head>

<body>
    <form action="/login" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="user_name" />
        </div>
        <div>
            <label for="mail">Password:</label>
            <input type="password" id="password" name="user_password" />
        </div>
        <div class="button">
            <button type="submit">login</button>
        </div>
    </form>
</body>

</html>